.StoryLoading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 0.1rem solid #d1d5da;
  border-radius: 0.3rem;
  padding: 2rem;
  &__img {
    width: 5rem;
  }
  &__content {
    color: #586069;
    font-size: 1.4rem;
  }
}
