.AdItem {
  background-color: #24292e;
  color: #ffffff;
  padding: 1.6rem;
  border-radius: 0.6rem;
  h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.8rem;
  }
  span {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
